{% extends "layout.html" %}

{% block title %}Timer{% endblock %}

{% block main %}

    <div class="container">
        <h2>Timer</h2>
        <p class="lead">Focus for 55 minutes, then take a 5-minute break!</p>
        <h1 id="time" class="display-3 my-4">25:00</h1>

        <div class="mb-3">
            <button id="start" class="btn btn-success">Start</button>
            <button id="pause" class="btn btn-warning">Pause</button>
            <button id="reset" class="btn btn-danger">Reset</button>
        </div>

        <div id="status" class="mt-5 fs-5 text-muted">Ready to begin</div>

    </div>

    <script src="{{ url_for('static', filename='js/timer.js') }}"></script>

{% endblock %}